// variables

$website-width: 1280px;
// $main-color: #ffbc00 yellow;
$main-color: #07c556;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: rgb(51, 51, 51);
$bg-color: #0766da;
$bg-image: url(../img/nightBg.jpg);

@function set-text-color($color) {
  @if (lightness($color) >50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
